<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
  <head>
    <title>Favorite Locations</title>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>

  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

      <h1>Favorite Locations</h1>

      <table class ="table">
	      <thread>
	      <tr>
		      <th>ID</th>
		      <th>Place ID</th>
		      <th>Name</th>
		      <th>Latitude</th>
		      <th>Longitude</th>
          <th>Get Earthquakes</th>
	      </tr>
	      </thread>
	      <tbody>
		      <tr th:each="f: ${locations}">
			      <td th:text="${f.id}"></td>
			      <td th:text="${f.placeId}"></td>
			      <td th:text="${f.name}"></td>
			      <td th:text="${f.lat}"></td>
			      <td th:text="${f.lon}"></td>
			      <td><a th:href="@{/earthquakes/search/(lat=${f.lat},lon=${f.lon},location=${f.name})}">Get Earthquakes</a></td>
		      </tr>
	      </tbody>
      </table>

      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>


